<div class="container color-dark">
  <div class="col">
    <p>Add reminder</p>
  </div>
  <div class="col">
    <p>Your list({{ itemCount }})</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="type a new reminder title" [(ngModel)] = "reminderText" />
      <input type="submit" class="btn" [value]="btnText"  (click)="addItem()"/> <!--value="{{ btnText }}" -->
    </form>
    <p>{{ reminderText }}</p>
  </div>
  <div class="col">
     <p class="list-item"  *ngFor="let reminder of reminders; let i= index"> {{ reminder }} <a (click)="removeItem(i)"> x</a></p>
  </div>
</div>
