.container{
    display: grid;
    grid-template-columns:auto auto auto;
}
.col{
    padding:.4em 1.3em;

}
input.txt{
    border: 0;
    padding:1em;
    width:80%;
    margin-bottom: 2em;
}
input.btn{
    border: 0;
    padding:1em;
    background: blue;
    margin-bottom: 2em;
}

